<div class="container">
	<p class="navbar-text navbar-right">Welcome, <%= current_user.email %></a>! |
		<%= link_to "Log out", logout_path, method: "delete" %>
	</p>
	<p class="navbar-text navbar-right"></p>
	<br>
	<br>
	<%= form_for @url, html: {class: "form-horizontal"} do |f| %>
		<div class="form-group">
			<%= f.label :long_url, "URL to shorten: ", class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
			<%= f.url_field :long_url, class: "form-control", placeholder: "https://www.yammer.com/" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit "Enter", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>

	<br>
	<br>
	<table class="table table-hover">
		<tr>
			<td> Shortened ID </td>
			<td> URL </td>
			<td> Click Count </td>
		</tr>
		<% unless @ary.nil? %>
			<% @ary.each do |row| %>
				<tr>
					<td>
					<a href=<%= row.short_url.to_s %> target=_blank><%= row.short_url.to_s %></a>
					</td>
					<td>
						<a href=<%= row.long_url.to_s %>><%= row.long_url.to_s %></a>
					</td>
					<td>
					<%= row.click_count.to_s %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
